<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="|${pet.species} page|">Pet page</title>
</head>

<body>
<h1 th:text="|'${pet.species}   ' specie details:|">Pet details:</h1>
<table border="1px">
    <tr>
        <th>id</th>
        <th>species</th>
        <th>user_id</th>
        <th>user_name</th>
    </tr>
    <tr>
        <td th:text="${pet.id}">123</td>
        <td th:text="${pet.species}">Default species</td>
        <td th:text="${pet.user_id}">123</td>
        <td th:text="${pet.user_name}">123</td>
    </tr>
</table>
</body>
</html>