<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1>List of Users:</h1>

<table border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>pets list</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></a>123</td>
        <td><a th:text="${user.name}" th:href="|/users/${user.id}|">Default name</a></td>
        <td th:text="${user.age}">123</td>
        <td th:text="${#lists.isEmpty(user.pets)} ? 'no pets' : ${user.pets}">Default pets list</td>
    </tr>
</table>
</br>
<a href="/users/add">Add new user!</a>

</body>
</html>